@dark : #243266;
@blue : #3498db;
@footerblue :#10162d;
@darker :#0b0f1e;
@light : #fff;
@lightGray : #f5f6f8;
@darkGray : #393f4f;

/*
* Sticky header
*/

.fixedHeader .scrollHeaderWrapper{
  height: 64px;
}

.header.fixedHeader{
  height: 64px;
}

.fixedHeader .logo{
  margin-top: 14px;
}

.fixedHeader .logo a,.fixedHeader .logo a img{
  height: 45px;
}

.fixedHeader .mainNav{
  padding-top: 15px;
}

.riiinglinkIcon{
  height: 150px;
}

.riiinglinkIcon img{
  height: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.userPicto{
  text-align: center;
}

.userPicto h4{
  text-align: center;
}

.userPicto .thumb {
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background: #fff;
  height: 100px;
  width: 100px;
}

.userPicto .thumb img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.userPicto-host h4{
  color: @dark;
}

.userPicto-invited h4{
  color: @blue;
}

.userPicto-host .thumb{
  border: 2px solid lighten(@dark, 6%);;
}

.userPicto-invited .thumb{
  border: 2px solid lighten(@blue, 6%);
}

.userPicto-host .thumb img{
  border: 8px solid @dark;
}

.userPicto-invited .thumb img{
  border: 8px solid @blue;
}

.riinglink {
  display: block;
  width: 50%;
  float: left;
  font-weight: 700;
}

.partage-host,
.partage-invited{
  min-height: 745px;
  position: relative;
  padding: 20px 0 20px 40px;
  color: #ffffff;
}

.groupe-icons{
  position: absolute;
  top: 0px;
  left: -25px;
  display: block;
  width:40px;
  height: 40px;
}

.partage-icon{
  position: relative;
  margin-bottom:20px;
}

.partage-icon:last-child{
  margin-bottom: 0;
}

.groupe-icons .groupe-icon-info {
  border: 2px solid #fff;
  border-radius: 50%;
  width:35px;
  height: 35px;
  text-align: center;
  transition: all 0.3s linear 0s;
  background-repeat: no-repeat;
  background-position: center;
}

.groupe-icons .groupe-icon-info.groupe-icon-1 {
  background-image: url("../images/icons/info.svg");
}

.groupe-icons .groupe-icon-info.groupe-icon-2 {
  background-image: url("../images/icons/adresse.svg");
}

.groupe-icons .groupe-icon-info.groupe-icon-3 {
  background-image: url("../images/icons/work.svg");
}

.partage-host {
  background: @dark;
}

.partage-invited {
  background: @blue;
}

.partage-group li{
  width: 90%;
  margin: 3px auto;
  height: 26px;
  background: darken(@dark, 10%);
  display: none;
}

/*
.partage-host .partage-group li{
    -webkit-box-shadow: 1px 1px 1px 0 darken(@dark, 2%);
    box-shadow: 1px 1px 1px 0 darken(@dark, 2%);
}

.partage-invited .partage-group li{
  -webkit-box-shadow: 1px 1px 1px 0 darken(@blue, 3%);
  box-shadow: 1px 1px 1px 0 darken(@blue, 3%);
}
*/

.isEditable .partage-host .partage-group li:hover{
  -webkit-box-shadow: 1px 1px 1px 1px darken(@dark, 6%);
  box-shadow: 1px 1px 1px 1px darken(@dark, 6%);
}

.isEditable .partage-invited .partage-group li:hover{
  -webkit-box-shadow: 1px 1px 1px 2px darken(@blue, 8%);
  box-shadow: 1px 1px 1px 2px darken(@blue, 8%);
}

.partage-group li.used{
  display: block;
}

.partage-host .partage-group li.used{
  background: lighten(@dark, 3%);
}

.partage-invited .partage-group li.used{
  background: lighten(@blue, 3%);
}

.partage-host .partage-group li.active{
  background: lighten(@dark, 8%);
}

.partage-invited .partage-group li.active{
  background: lighten(@blue, 8%);
}

.partage-group li span,
.partage-group li strong{
  font-size: 12px;
  padding: 4px 5px 3px 5px;
  display: block;
  float: left;
}

.partage-group li span{
  width: 35%;
  text-align: right;
}

.partage-host .partage-group li.used span{
  color:lighten(@dark, 50%);
}

.partage-invited .partage-group li.used span{
  color:darken(@blue, 22%);
}

.partage-group li strong{
  width: 65%;
}

.partage-user{
  margin-bottom: 20px;
}

.rotate{
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow:hidden;
}

.rotate:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}

.finishRiiinglink{
  display: none;
}
