.riiinglinkIcon {
  height: 150px;
}
.riiinglinkIcon img {
  height: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.userPicto {
  text-align: center;
}
.userPicto h4 {
  text-align: center;
}
.userPicto .thumb {
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background: #fff;
  height: 100px;
  width: 100px;
}
.userPicto .thumb img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.userPicto-host h4 {
  color: #243266;
}
.userPicto-invited h4 {
  color: #3498db;
}
.userPicto-host .thumb {
  border: 2px solid #2c3d7d;
}
.userPicto-invited .thumb {
  border: 2px solid #4ea5e0;
}
.userPicto-host .thumb img {
  border: 8px solid #243266;
}
.userPicto-invited .thumb img {
  border: 8px solid #3498db;
}
.riinglink {
  display: block;
  width: 50%;
  float: left;
  font-weight: 700;
}
.partage-host,
.partage-invited {
  min-height: 745px;
  position: relative;
  padding: 20px 0 20px 40px;
  color: #ffffff;
}
.groupe-icons {
  position: absolute;
  top: 0px;
  left: -25px;
  display: block;
  width: 40px;
  height: 40px;
}
.partage-icon {
  position: relative;
  margin-bottom: 20px;
}
.partage-icon:last-child {
  margin-bottom: 0;
}
.groupe-icons .groupe-icon-info {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  transition: all 0.3s linear 0s;
  background-repeat: no-repeat;
  background-position: center;
}
.groupe-icons .groupe-icon-info.groupe-icon-1 {
  background-image: url("../images/icons/info.svg");
}
.groupe-icons .groupe-icon-info.groupe-icon-2 {
  background-image: url("../images/icons/adresse.svg");
}
.groupe-icons .groupe-icon-info.groupe-icon-3 {
  background-image: url("../images/icons/work.svg");
}
.partage-host {
  background: #243266;
}
.partage-invited {
  background: #3498db;
}
.partage-group li {
  width: 90%;
  margin: 3px auto;
  height: 26px;
  background: #172040;
  display: none;
}
/*
.partage-host .partage-group li{
    -webkit-box-shadow: 1px 1px 1px 0 darken(@dark, 2%);
    box-shadow: 1px 1px 1px 0 darken(@dark, 2%);
}

.partage-invited .partage-group li{
  -webkit-box-shadow: 1px 1px 1px 0 darken(@blue, 3%);
  box-shadow: 1px 1px 1px 0 darken(@blue, 3%);
}
*/
.partage-host .partage-group li:hover {
  -webkit-box-shadow: 1px 1px 1px 1px #1c274f;
  box-shadow: 1px 1px 1px 1px #1c274f;
}
.partage-invited .partage-group li:hover {
  -webkit-box-shadow: 1px 1px 1px 2px #2383c4;
  box-shadow: 1px 1px 1px 2px #2383c4;
}
.partage-group li.used {
  display: block;
}
.partage-host .partage-group li.used {
  background: #283871;
}
.partage-invited .partage-group li.used {
  background: #419fdd;
}
.partage-host .partage-group li.active {
  background: #2f4184;
}
.partage-invited .partage-group li.active {
  background: #57aae1;
}
.partage-group li span,
.partage-group li strong {
  font-size: 12px;
  padding: 4px 5px 3px 5px;
  display: block;
  float: left;
}
.partage-group li span {
  width: 35%;
  text-align: right;
}
.partage-host .partage-group li.used span {
  color: #a9b4e0;
}
.partage-invited .partage-group li.used span {
  color: #185a87;
}
.partage-group li strong {
  width: 65%;
}
.partage-user {
  margin-bottom: 20px;
}
.rotate {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
}
.rotate:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.finishRiiinglink {
  display: none;
}
