@dark : #243266;
@blue : #3498db;
@footerblue :#10162d;
@darker :#0b0f1e;
@light : #fff;
@lightGray : #f5f6f8;
@darkGray : #393f4f;
@grey: #d0d0d0;
@greyHover: #bbbbbb;
@red: #ffe9e9;
/*
* Sticky header
*/

.fixedHeader .scrollHeaderWrapper,.header.fixedHeader{
  height: 64px;
}

.fixedHeader .logo{
  margin-top: 14px;
}

.fixedHeader .logo a,.fixedHeader .logo a img{
  height: 45px;
}

.fixedHeader .mainNav{
  padding-top: 15px;
}

.riiinglinkIcon{
  height: 150px;
  z-index: 100;
  position: absolute;
  width: 50px;
  left: 50%;
  top: -50px;
  margin-left: -20px;
  display: none;
}

.riiinglinkIcon img{
  height: 60px;
  position: relative;
  top: 100%;
  transform: translateY(-50%);
}

.partage-host,
.partage-invited{
  width: 100%;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.groupe-icons{
  width:100%;
  padding: 8px 8px;
  height: auto;
}

.groupe-icons .groupe-icon-info {
  border: 2px solid #fff;
  border-radius: 50%;
  width:20px;
  height: 20px;
  text-align: center;
  transition: all 0.3s linear 0s;
  background-repeat: no-repeat;
  background-position: center;
}

.groupe-icons .groupe-icon-info.groupe-icon-1 {
  background-image: url("../../images/icons/info.svg");
}

.groupe-icons .groupe-icon-info.groupe-icon-2 {
  background-image: url("../../images/icons/adresse.svg");
}

.groupe-icons .groupe-icon-info.groupe-icon-3 {
  background-image: url("../../images/icons/work.svg");
}

.partage-invited .partage-group{
  padding: 5px 0;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.partage-group .display-rlink{
  display: none;
  padding: 0 15px;
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.partage-group .display-rlink.used,
.partage-group.isEditable .display-rlink{
  display: block;
}

.partage-group.isEditable .display-rlink:not(.used){
  background: @red;
}

.partage-group.isEditable .display-rlink:not(.used):hover{
  background: darken(@red, 5%);
}

.partage-group .line:last-child{
  display: block;
}

.partage-invited .partage-group .display-rlink.active{

}

.badge{
  font-size: 11px;
}

.riiinglinkList.isEditable .display-rlink:hover{
  /*  background: darken(@dark, 10%);*/
  cursor: pointer;
}

.partage-host .panel-body {
  padding: 0;
}

.partage-host .partage-group .display-rlink.used span{

}

.partage-invited .partage-group .display-rlink.used span{

}

.panel .list-group-item{
  min-height: 40px;
  font-size: 14px;
}

.finishRiiinglink, .hideGroup, .hide{
  display: none;
}

.partage-host .media, .partage-host .media .media {
  padding: 13px 10px 10px 10px;
  margin-top: 0;
  margin-right: -15px;
  margin-left: -15px;
}

.partage-host .line{
  margin-top: 0;
  margin-bottom: 0;
}
.partage-group.list-group{
  margin-bottom: 0;
}

.hideLabel{
  display: none !important;
}

.list-group{
  margin-bottom: 0;
}
.riiinglink .panel-body{
  padding-bottom: 0;
}

.list-group .line:last-child{
  margin-bottom: 0;
}

